@charset "utf-8";


/* Paperlogy */
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-1Thin.woff);
    font-weight: 100;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-2ExtraLight.woff);
    font-weight: 200;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-3Light.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-4Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-5Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-6SemiBold.woff);
    font-weight: 600;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-7Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-8ExtraBold.woff);
    font-weight: 800;
}
@font-face {
    font-family: 'Paperlogy';
    src: url(../font/paperlogy/Paperlogy-9Black.woff);
    font-weight: 900;
}


/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Thin.woff);
    font-weight: 100;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-ExtraLight.woff);
    font-weight: 200;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Light.woff);
    font-weight: 300;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Regular.woff);
    font-weight: 400;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Medium.woff);
    font-weight: 500;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-SemiBold.woff);
    font-weight: 600;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Bold.woff);
    font-weight: 700;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-ExtraBold.woff);
    font-weight: 800;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/pretendard/Pretendard-Black.woff);
    font-weight: 900;
    /* unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; */
}


/* InsungitJisu */
@font-face {
    font-family: 'InsungitJisu';
    src: url(../font/insungitcutelivelyjisu/insungit-Cutelively-jisu-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}